body{
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

header{
    background-color: lightgray;
}
footer{
    background-color: lightblue;

}
div{
    background-color: lightgreen;
}
